/*===================== Скидання =====================*/
*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

a{
    text-decoration: none;
}
/*===================== /Скидання =================*/

/*=================== Загальні ====================*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
} 

.container{
    width: 1158px;    
    padding: 0 15px;  
    margin: 0 auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/*=================== /Загальні ====================*/

/*===================== header =====================*/
.top-line{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*container*/

.container-header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: 0 15px;
}

.top-line-nav{
    display: flex;
    align-items: center;
}

.menu-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.menu-logo span{
    color: #2E2F42;
}

.main-meny{
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
}

.main-meny-li{

}

.main-meny-link{
    display: block;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-meny-link:hover,
.main-meny-link:focus{
    color: #404BBF;
}

.activiti-page{
    color: #404bbf;
    position: relative;
}

.activiti-page::after{
    width: 100%;    
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
}

.contacts-meny{

}

.contacts-meny-ul{
    display: flex;
    gap: 40px;    
}

.contacts-meny-li{

}

.address-link{
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

.shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*===================== /header =====================*/

/*===================== 1 Секція =====================*/
.web-page-main{

}

.hero-image-bg{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: auto auto;
    background-color: #2E2F42;
}

/*.container*/

/*.section*/

.hero-image-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    padding-top: 68px;
}

.hero-button{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor:pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 68px;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}
/*===================== /1 Секція =====================*/
/*===================== 2 Секція =====================*/

/*.section*/

/*.container*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits{
    display: flex;
    gap: 24px;
}

.benefits-li{
    width: calc((100% - 72px) / 4);
}

.box-svg {
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.icon-antenna {
    display: block;
}

.icon-clock {
    display: block;
}

.icon-diagram {
    display: block;
}

.icon-astronaut {
    display: block;
}

.benefits-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
/*===================== /2 Секція =====================*/
/*===================== 3 Секція =====================*/
.our-team{
    background-color: #F4F4FD;
}

/*.section*/

/*.container*/

.our-team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-ul{
    display: flex;
    gap: 24px;
}

.our-team-teacher{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-teacher-img{
    width: 100%;
}

.teacher-pib-posada{
    padding: 32px 0;
}

.our-team-teacher-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-teacher-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.soc-mereji {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.li-soc-mereji {
    width: 40px;
    height: 40px;
}

.linksoc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linksoc:hover,
.linksoc:focus {
    background-color: #404bbf;
}

.icon-soc-mereji {
    display: block;
    fill: #F4F4FD;
}

.icon-soc-mereji:hover {
    fill: #404BBF;
}
/*===================== /3 Секція =====================*/
/*===================== 4 Секція =====================*/

/*.section*/

/*.container*/

.portfolio{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-ul{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio-foto{
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translatey(0);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-app{    
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: sticky;
    background-color: #FFFFFF;
}

.portfolio-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
/*===================== /4 Секція =====================*/
/*=====================  footer   =====================*/
.footer-text-logo {
    padding-top: 100px;
    background-color: #2E2F42;
    padding-bottom: 100px;
}

.footer-padding {
    display: flex;
    align-items: baseline;
}

/*.container*/

.footer-logo-text{
    margin-right: 120px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-span {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.social-media{

}

.title-social-media {
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-media-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.li-social-media {
    width: 40px;
    height: 40px;
}

.social-media-linksoc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-linksoc:hover,
.social-media-linksoc:focus{
    background-color: #31d0aa;
}

.social-media-svg-item {
    display: block;
    fill: #f4f4fd;
}

.social-media-svg-item:hover {
    fill: #31d0aa;
}

.subscribe{
    margin-left: 80px;
}

.subscribe-text{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff;    
}

.form-subscribe{
    display: flex;
    gap: 24px;
}

.subscribe-name{
    
}

.subscribe-email{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
}

.subscribe-email:placeholder{
    color #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
	color: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.subscribe-button:hover,
.subscribe-button:focus{
    background: #404BBF;
}


.subscribe-svg{
    margin-left: 16px;
    fill: #ffffff;
}
/*=====================  /footer   =====================*/

/*=====================  Модальне вікно   =====================*/
.backdrop{
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 408px;
    transform: translate(-50%, -50%) scale(1);
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.feedback-svg-close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-svg-close:hover,
.feedback-svg-close:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-content-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}

.form-content{
    margin-bottom: 8px;
}

.feedback-name{
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;    
}

.intut-name{
    position: relative;
}

.feedback-username{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-username:focus-within{
    border-color: #4D5AE5;
}

.intut-name:focus-within{
    fill: #4D5AE5;
}

.form-comment{
    margin-bottom: 16px;
}

/*.feedback-name*/

.feedback-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-comment:focus-within{
    border-color: #4D5AE5;
}

.form-checkbox{
    margin-bottom: 24px;
}

.checkbox-input{

}

/*.visually-hidden*/

.feedback-checkbox{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.checkbox-box{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent;
}

.checkbox-svg{

}

input[type="checkbox"]:checked + label > span{
    background-color:#404bbf;
    border: none;
    fill:#F4F4FD;
    stroke:#404bbf;
}

.checkbox-link{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;

}

.feedback-form-button {
    display: block;
    margin: auto auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
	color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-button:hover,
.feedback-form-button:focus{
    background: #404BBF;
}
/*=====================  /Модальне вікно   =====================*/