/*===================== Скидання =====================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*===================== /Скидання =====================*/

/*=================== Загальні ====================*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}
/*=================== /Загальні ====================*/
/*===================== header =====================*/
.top-line {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/*.container*/

.container-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 17px 16px;
}

.top-line-nav {}

.menu-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.menu-logo span {
    color: #2E2F42;
}

.main-meny{
    display: none;
}
.main-meny-li{}
.main-meny-link{}
.activiti-page{}
.contacts-meny{
    display: none;
}
.contacts-meny-ul{}
.address-link{}
.shadow{}

.top-mobile-meny{
    background-color: transparent;
    line-height: 0;
    border: none;
    padding: 0;
    fill: #2F2F37; 
}
.icon-mobile-meny{}
/*===================== /header =====================*/

/*===================== Мобільне меню =====================*/

.backdrop-mobil{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color:#FFF;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.backdrop-mobil.is-open {
    transform: translateX(0%);
}

/*.container*/
.mobil-svg-close{}
.mobil-close-svg{}

.mobil-svg-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #E7E9FC;
    line-height: 0;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.mobil-close-svg {

}

.mobil-svg-close:hover,
.mobil-svg-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobil-main-meny{
    display: flex;
    flex-direction:column;
    row-gap: 40px;
    padding-top: 72px;
    margin-bottom: 168px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobil-main-meny-li{

}

.mobil-main-meny-link{
    display: block;
    text-decoration: none;
    color: #2E2F42;;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-main-meny-link:hover,
.mobil-main-meny-link:focus{
    color: #404BBF;
}

.mobil-contacts-meny{}
.mobil-contacts-meny-ul{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
}

.mobil-contacts-meny-li{
        
}

.mobil-address-link{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-address-link:hover,
.mobil-address-link:focus{
    color: #404BBF;
}

.social-media-mobil{
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;
}

.mobil-li-social-medi{
    
}

.mobil-social-media-linksoc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px;
    fill: #f4f4fd;
}

.mobil-social-media-linksoc:hover,
.mobil-social-media-linksoc:focus {
    background-color: #31d0aa;
}
/*===================== /Мобільне меню =====================*/

/*===================== Форма для мобільного =====================*/
.backdrop {
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    transform: translate(-50%, -50%) scale(1);
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.feedback-svg-close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-svg-close:hover,
.feedback-svg-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-content-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}

.form-content {
    margin-bottom: 8px;
}

.feedback-name {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
}

.intut-name {
    position: relative;
}

.feedback-username {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-username:focus-within {
    border-color: #4D5AE5;
}

.intut-name:focus-within {
    fill: #4D5AE5;
}

.form-comment {
    margin-bottom: 16px;
}

.feedback-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-comment:focus-within {
    border-color: #4D5AE5;
}

.form-checkbox {
    margin-bottom: 24px;
}

.feedback-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.checkbox-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input[type="checkbox"]:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    stroke: #404bbf;
}

.checkbox-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;

}

.feedback-form-button {
    display: block;
    margin: auto auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-button:hover,
.feedback-form-button:focus {
    background: #404BBF;
}
/*===================== /Форма для мобільного =====================*/

/*===================== Hero section =====================*/
.section {
    padding-bottom: 72px;
}

.container{
}

.hero-image-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    max-height: 432px;
    margin: auto auto;
    background-color: #2E2F42;
}

@media (min-resolution: 192dpi) {
    .hero-image-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg@2x.jpg);
    }
}

.hero-image-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    max-width: 288px;
    margin: 0 auto;
    padding: 72px 16px;
}

.hero-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
/*===================== /Hero section =====================*/



/*=================== Планшет та горизонтальне позиціювання мобільного ====================*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }
/*===================== header =====================*/
.top-mobile-meny{
    display: none; 
}

.container-header {
    align-items:center;
    padding: 0 16px;
}

.top-line-nav {
    display: flex;
    align-items: center;
}

.menu-logo {
    margin-right: 120px;
}

.main-meny {
    display: contents;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.main-meny-li{
}

.main-meny-link{
    display: block;
    padding: 24px 0;
}

.activiti-page {
    color: #404bbf;
    position: relative;
}

.activiti-page::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts-meny {
    display: contents;
    display: flex;
    gap: 12px;
}

.address-link{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    color: #434455;
}
/*===================== /header =====================*/

/*===================== Hero section =====================*/
.section {}
.container {}
.hero-image-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tb.jpg);
    max-width: 768px;
    min-width: 436px;
}

@media (min-resolution: 192dpi) {
    .hero-image-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tb@2x.jpg);
    }
}

.hero-image-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding: 112px 0 0 0;
    margin-bottom: 36px;
}

.hero-button {
    margin-bottom: 112px;
}
/*===================== /Hero section =====================*/



/*===================== Форма для Планшета =====================*/
.modal-content {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
}

/*===================== /Форма для Планшета =====================*/

}
/*=================== /Планшет та горизонтальне позиціювання мобільного ====================*/

/*=================== ПК - дестоп ====================*/

@media screen and (min-width: 1188px) {
    .container {
        max-width: 1158px;
    }

/*===================== Форма для ПК =====================*/
.feedback-username {
padding-left: 38px;
}
/*===================== header =====================*/
.container-header {
    padding: 0 15px;
}

.menu-logo {
    margin-right: 76px;
}

.contacts-meny{

}

.contacts-meny-ul {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*===================== /header =====================*/
/*===================== Hero section =====================*/
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-image-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
    max-width: 1440px;
    min-height: 600px;
}

@media (min-resolution: 192dpi) {
    .hero-image-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage@2x.jpg);
    }
}

.hero-image-title {
    padding-top: 68px;
}

.hero-button {
    margin-top: 48px;
    margin-bottom: 68px;
}
/*===================== /Hero section =====================*/

/*===================== /Форма для ПК =====================*/
}

/*=================== /ПК - дестоп ====================*/